@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  /* padding: 0 16px 0 0 ; */
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.header{
  display:flex;
  justify-content: space-between;
  margin-right: 16px;
}

.left-links,
.right-links{
  display: flex;
  gap: 16px;
}

.footer{
  display: flex;
  padding-right: 16px;
  /* margin-right: 16px; */
  justify-content: space-between;
  background-color: rgb(196, 200, 204);
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}