.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  gap: 1em;
  padding:8px;
}
.header >*{
  flex:1;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
}


a {
  font-size: 22px;
  color:blue;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

.right-links ul, .left-links ul{
  display: flex;
  gap:1em;
  align-items: center;
}
.left-links ul{
  justify-content:flex-start;
}
.right-links ul{
  justify-content:flex-end;
}


