/* Add CSS Styling */
.common{
    font-size: 28px;
    font-family: Helvetica,'Times New Roman', sans-serif;
}

#first{
    background-color: black;
    color:antiquewhite;
}

#second{
    background-color:yellow;
}