body {
  background: #eee;
  font-family: sans-serif;
  /* padding: 10px; */
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  margin: 15px 0px 10px;
  font-size:18px;
  padding: 5px;
}

.content {
  background: #e3f4ff;
  padding: 15px 8px;
  margin: 10px 0px;
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  text-align: center;
}
button {
  display:block;
  background: white;
  padding: 5px 20px;
  margin:auto;
  border: 1px solid #eee;
}