body {
  font-family: Arial, Helvetica, sans-serif;
}

.para.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
  font-size: 14px;
}


.para {
  font-size: 22px;
}

.confirm.button {
  background: green;
  color: white;
  font-weight: bold;
} 


.button {
  font-size: 20px;
}

div.text{
  font-size: 22px;
}

div.text.child {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 800;
}
